/*** FONTS ***/

@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

//font-family: 'Open Sans', sans-serif;
//font-family: 'Dosis', sans-serif;


/*** COLORS ***/

$navy: #102542;
$gray: #B3A394;
$blue: #CDD7D6;
$coral: #F87060;
$white: #FAFAFA;
$green: #D6F1B9;
$red: #FDB895;



body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
	background-color: $white;
	padding-top: 80px;
}

header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: $navy;

	h1 {
		font-family: 'Dosis';
		font-size: 2em;
		line-height: 80px;
		vertical-align: middle;
		text-align: center;
		color: $white;
	}
}


.board {
	width: 500px;
	height: 500px;
	margin: 50px auto 0 auto;
	position: relative;

	.line {
		display: none;
		position: absolute;
		width: 480px;
		height: 10px;
		border: 1px solid $coral;
		background-color: $coral;

		&.vertical {
			transform: rotate(-90deg);
			top: 230px;
			display: block;
		}

		&.vertical-1 { left: -160px; }

		&.vertical-2 { left: 0; }

		&.vertical-3 { left: 163px; }

		&.horizontal { 
			left: 0;
			display: block;
		}

		&.horizontal-1 { top: 64px; }

		&.horizontal-2 { top: 230px; }

		&.horizontal-3 { top: 392px; }

		&.diagonal-d {
			transform: rotate(45deg);
			top: 227px;
			display: block;
		}

		&.diagonal-a {
			transform: rotate(-45deg);
			top: 227px;
			display: block;
		}

	}


	.field {
		width: 32%;
		height: 32%;
		border: 1px solid $gray;
		position: relative;
		float: left;

		transition: background-color .25s;

		span {
			font-size: 7em;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		&:hover {
			background-color: $red;
		}

		&.empty {
			cursor: pointer;
			
			&:hover {
				background-color: $green;
			}
		}

		&:nth-child(3n + 1) {
			border-left: none;
		}

		&:nth-child(3n) {
			border-right: none;
		}

		&:nth-child(1), &:nth-child(2),
		&:nth-child(3) {
			border-top: none;
		}

		&:nth-child(7), &:nth-child(8),
		&:nth-child(9) {
			border-bottom: none;
		}
	}
}


.info {
	font-size: 2em;
	text-align: center;
	color: $navy;
	text-shadow: 2px 2px 5px $blue;
}


@media screen and (max-width: 530px) {
	.board {
		width: 300px;
		height: 300px;

		.line {
			width: 300px;

			&.vertical { top: 134px; }

			&.vertical-1 { left: -102px; }

			&.vertical-2 { left: -4px; }

			&.vertical-3 { left: 94px; }

			&.horizontal { left: 0; }

			&.horizontal-1 { top: 37px; }

			&.horizontal-2 { top: 134px; }

			&.horizontal-3 { top: 232px; }

			&.diagonal-d { top: 140px; }

			&.diagonal-a { top: 132px; }
		}

		.field {

			span {
				font-size: 5em;
			}
		}
	}
}